$clr-primary: #ff0000;
$clr-gray: #3d4045;
$clr-black: #090910;
$clr-white: #f2f2f2;
$clr-gray2: #1A1A1B;
$clr-background:linear-gradient(180deg, rgba(9, 9, 16, 0.9) 99.98%, rgba(9, 9, 16, 0.65) 99.99%, rgba(9, 9, 16, 0.9) 100%, rgba(9, 9, 16, 0.9) 100%);

$ff-primary: "Poppins", sans-serif;

$break-lg: 1250px;
$break-md: 870px;
$break-sm: 480px;
